html {
    min-height: 100%;
    position: relative;
}

#final-score {
    padding-bottom: 10px;
}

#high-score-name {
    margin: 0 10px;
}

#user-answer {
    border-top: 1px solid lightgray;
    color: gray;
    font-style: italic;
}

.sticky-footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
}